.carousel {
    height: 65vh;
}

.indv-carousel-item {
    display: flex;
    height: 65vh;
}

.carsl-img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    left: 5%;
}

.posterImg {
    width: 85%;
}

.carsl-cap {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 80%;
}

.buy-btn, .watch-btn {
    margin-right: 2%;
    margin-bottom: 5%;
    padding: 2px 5px;
    width: 8em;
    height: 6%;
}

#buy-btn-icon {
    height: 90%;
}

.carousel-indicators li {
    display: none;
}

.carousel-control-next {
    right: 7%;
}

.carousel-control-prev {
    left: 7%;
}

.carousel-control-prev-icon, .carousel-control-next-icon, .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    height: 3em;
    width: 3em;
}

.carousel-control-prev-icon {
    background-image: url('../imgs/nxt-arrow.png');
    transform: rotate(180deg);
}

.carousel-control-prev-icon:hover {
    background-image: url('../imgs/nxt-arrow-hov.png');
    transform: rotate(180deg);  
}

.carousel-control-next-icon {
    background-image: url('../imgs/nxt-arrow.png');
}

.carousel-control-next-icon:hover {
    background-image: url('../imgs/nxt-arrow-hov.png');
}

@media screen and (max-width: 767px) {
    .carousel-control-prev-icon, .carousel-control-next-icon, .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
        display: none;
    }
    .indv-carousel-item {
        display: flex;
        justify-content: flex-start;
    }
    .carsl-img {
        margin-right: 175px;
    }
    .carsl-desc {
        bottom: 10%;
        left: 9%;
    }
    .posterImg {
        margin-top: 2%;
        height: 350px;
        width: 250px;
    }
    .bw-btns {
        width: 250px;
    }
}
@media screen and (max-width: 630px) {
    .bw-btns {
        width: 250px;
    }
    .carsl-desc {
        left: 3%;
    }
}