.carousel {
    height: 65vh;
    background-color: pink;
}

.indv-carousel-item {
    display: flex;
    justify-content: center;
}

.carousel-caption {
    background-color: red;
}

.testImage {
    height: 50%;
}