.carousel {
    height: 65vh;
    background-color: pink;
}

.indv-carousel-item {
    display: flex;
    justify-content: center;
}

.carsl-img {
    display: flex;
    align-items: center;
}

.carsl-desc {
    /* display: flex; */
    /* align-self: center; */
}

.carsl-cap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    height: 80%;
}

.testImage {
    width: 150%;
}