
.container {
    margin: 0 10% 0 10%; 
    /* display: flex;
    flex-direction: column;
    justify-items: center; */
}

#starting {
    /* margin-top: 13%; */
    margin-top: 8em;
    margin-bottom: 20%;
    height: 45vh;
}

.movie-block {
    display: flex;
    width: 80vw;   
    margin-bottom: 35%;
}

.movie-block p{
    font-size: 20px;
}

.movie-text-block {
    display: flex;
    flex-direction: column;
}


.movie-img-block div {
    display: flex; 
    justify-content: center;
    /* align-items: center; */
    /* width: 80%; */
    /* right: 100px; */
}

