
.container {
    margin: 0 0 0 0; 
}

.top-item {
    padding-top: 10em;
    padding-bottom: 10em;
}

.second-item {
    padding-top: 10em;
}

.nxt-movies {
    padding-bottom: 3em;
}

.movie-block:last-child {
    padding-bottom: 12em;
}

#movie-title {
    font-size: 30px;
}

.nxt-movies {
    background-color: grey;
}

.movie-block {
    display: flex;
    width: 100vw;  
    align-items: center; 
}

.movie-block p{
    font-size: 20px;
}

.movie-img-block {
    display: flex;
}

#movie-img {
    width: 70%;
}