.container {
    margin: 0 10% 0 10%; 
}

#starting {
    margin-top: 3%;
    height: 45vh;
}

.movie-block {
    display: flex;
    width: 80vw;
}

.movie-block p{
    font-size: 20px;
}


.movie-img-block div {
    /* display: flex; */
    /* justify-content: center; */
    /* right: 100px; */
}
